/* Result 페이지 전체 스타일 */
.result-page {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  
  /* 카드 스타일 (가로 배치) */
  .result-card {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
  }
  
  /* 이미지 크기 조절 */
  .result-img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
  }
  