/* S-CoreDream-3Light 글꼴 정의 */
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 전체 배경 및 글꼴 설정 */
html, body {
  background-color: #faf9f6 !important;  /* Smokewhite 배경 */
  min-height: 100vh;
  margin: 0; /* 여백 제거 */
  font-family: "S-CoreDream-3Light", sans-serif; /* 기본 글꼴 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;  /* 가로 스크롤 방지 */
  overflow-y: auto; /* 세로 스크롤 유지 */
  width: 100%;
}

/* 전체 앱 컨테이너 (화면 높이 꽉 채우기, 세로 중앙 정렬) */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 높이에 맞춤 */
  width: 100%;
  max-width: 480px; /* content-wrapper와 동일한 크기 설정 */
  min-width: 480px;
  justify-content: flex-start; /* 위쪽 정렬 */
  align-items: center; /* 중앙 정렬 */
  font-family:"S-CoreDream-3Light";
}

/* 콘텐츠 영역 래퍼 (가로폭 480px 고정, 중앙 정렬) */
.content-wrapper {
  max-width: 480px;  /* 모든 페이지 동일한 폭 */
  width: 100%;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 20px;
  flex: 1;
  overflow: hidden;  /* 내부 스크롤 제거 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 헤더 및 푸터 스타일 조정 */
.header, .footer {
  width: 100%;
  max-width: 480px; /* content-wrapper와 동일한 크기로 설정 */
  background-color: #282c34; /* Bootstrap의 bg-dark와 비슷한 색상 */
  color: white;
  text-align: center;
  padding: 15px 20px;
  margin-left: auto;
  margin-right: auto;
}

/* 네비게이션 바 내부 요소 스타일 */
.navbar-brand, .nav-link {
  color: #ffffff !important; /* 텍스트 색상 흰색으로 고정 */
}

.navbar-toggler {
  border-color: #ffffff; /* 테두리 색상 흰색으로 */
}

/* Bootstrap 아이콘 설정 */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css");

/* 홈 컨텐츠 중앙 정렬 */
.home-content {
  text-align: center !important; /* 가로 중앙 정렬 */
}

/* 네비게이션 바, 푸터, 버튼에 글꼴 적용 */
.navbar, .footer, button {
  font-family: "S-CoreDream-3Light", sans-serif !important;
}

.btn-primary {
  background-color: #070100 !important; /* 배경색 */
  color: white !important; /* 텍스트 색상 */
}

.btn-primary:hover {
  background-color: #fa2727 !important; /* hover 시 색상 */
}



/* 버튼의 기본 상태에서도 테두리 색을 변경하려면 */
.custom-button {
  border: 2px solid transparent !important; /* 기본 테두리를 투명하게 설정 */
}

.center-button{
  display: flex; /* Flexbox 설정 */
  justify-content: center !important; }


  .btn {
    border: none !important;  /* 기본 테두리 제거 */
  }
  












  
